body {
    background-color: white;
}

h1 {
    font-size: 30px;
    color: rgb(231, 24, 24);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size: 25px;
    color: rgb(231, 24, 24);
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: times;
    font-size: 20px;
}

.active {
    background-color: rgb(231, 24, 24);
}

nav li {
  display: inline;
}

section {
 display: flex;
}

aside {
    margin-left:40px;
    flex: 4
}

article {
 margin-left:50px;
 margin-right:100px;
 flex: 4
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}